.quiz {
    position: relative;
    overflow: hidden;
    background-image: url(../img/quiz-bg.jpg);
    @include backgroundImg;
    background-position: top;
    &__top {
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    &__menu {
        font-family: 'AvenirBook';
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 0 16px;
        &-score {
            border-radius: 16px;
            height: 32px;
            min-width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            background-color: $black7;
            span {
                font-size: 20px;
                font-weight: 900;
                margin-top: 3px;
            }
        }
    }
    &__time {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 56px;
        height: 56px;
        background-color: $black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn .4s ease forwards;
        box-shadow: 0 0 10px 0 #000000;
        &--hide {
            animation: fadeOut .4s ease forwards;
        }
    }
    &__container {
        height: 100vh;
        display: flex;
        padding-top: 72px;
        padding-bottom: 75px;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }
    &__question {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .question {
            &__title {
                text-align: center;
                margin-bottom: 4px;
                span {
                    font-family: $markerFont;
                    font-size: 16px;
                    letter-spacing: 0.8px;
                    color: $darkBlue;
                    text-align: center;
                    &::before {
                        content: '';
                        display: inline-block;
                        transform: translateY(2px);
                        height: 16px;
                        width: 11px;
                        margin-right: 5px;
                        @include backgroundImg;
                        background-image: url(../img/blue-note.svg);
                    }
                }
            }
            &__body {
                position: relative;
                height: 220px;
                width: 100%;
                @include backgroundImg;
                background-size: 100% 100%;
                background-image: url(../img/question-bg.png);
                text-align: center;
            }
            &__wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                margin-top: 8px;
            }
            &__word,
            &__blank {
                display: inline-block;
                vertical-align: middle;
                height: 32px;
                margin: 2px 2px 3px;
                font-size: 20px;
                font-weight: bold;
            }
            &__blank {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 2px 6px 3px;
                min-width: 96px;
                transform: translateY(-2px);
                background-color: $whitePrimary;
                border-radius: 16px;
                transition: all .4s ease-in-out;
                &--selected {
                    box-shadow: 0 0 0 3px $borderBlue;
                }
                &--correct {
                    background-color: $greenCorrect;
                }
                &--wrong {
                    background-color: $redWrong;
                }
                span{
                    color: $black;
                    padding: 0 16px;
                    font-size: 16px;
                    margin-top: -2px;
                }
            }
        }
    }
    &__answer {
        height: 128px;
        padding: 0 12px;
        margin: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: none;
        @include breakpoint(sm) {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        .answer__btn {
            position: relative;
            width: calc(50% - 8px);
            height: 48px;
            border-radius: 24px;
            box-shadow: 0 0 4px 1px $black25;
            display: inline-block;
            background-color: $darkBlue;
            transition: all .4s ease;
            cursor: default;
            margin: 8px 4px;
            &-inner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 43px;
                border-radius: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
                color: $white2;
                text-decoration: none;
                background-color: $blue;
                transition: all .15s ease;
            }
            &--selected {
                background-color: $darkBlue2;
                pointer-events: none;
                .answer__btn-inner {
                    top: 5px;
                    color: rgba($color: #fff, $alpha: .32);
                    font-weight: normal;
                }
            }
        }
    }
    &__footer {
        position: absolute;
        bottom: 24px;
        padding: 0 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__counter {
        color: $darkBlue;
        font-size: 12px;
        letter-spacing: 0.2px;
        margin-bottom: 6px;
    }
    &__action {
        display: flex;
    }
    &__btn {
        position: relative;
        width: 40px;
        height: 41px;
        object-fit: contain;
        margin-left: 12px;
        filter: drop-shadow(0 2px 5px $black3);
        -webkit-filter: drop-shadow(0 2px 5px $black3);
        @include backgroundImg;
        &-refresh, &-submit {
            background-size: contain;
            &::before, &::after{
                content: '';
                position: absolute;
                @include backgroundImg;
                background-size: contain;
                transition: all .15s ease;
            }
            &::before{
                width: 40px;
                height: 37px;
                top: 0;
            }
            &::after{
                width: 23px;
                height: 24px;
                top: 7px;
                left: 9px;
            }
            &--disabled {
                pointer-events: none;
            }
        }
        &:active{
            &::before{
                top: 4px;
            }
            &::after{
                top: 11px;
                transform: scale(.95);
            }
        }
        &-refresh{
            background-image: url(../img/refresh-circle-2.png);
            &::before{
                background-image: url(../img/refresh-circle-1.png);
            }
            &::after{
                background-image: url(../img/refresh-icon.png);
            }
            &--disabled {
                background-image: url(../img/refresh-disabled-circle-2.png);
                &::before{
                    background-image: url(../img/refresh-disabled-circle-1.png);
                }
                &::after{
                    background-image: url(../img/refresh-disabled-icon.png);
                }
            }
        }
        &-submit{
            background-image: url(../img/submit-circle-2.png);
            &::before{
                background-image: url(../img/submit-circle-1.png);
            }
            &::after{
                background-image: url(../img/submit-icon.png);
            }
            &--disabled {
                background-image: url(../img/submit-disabled-circle-2.png);
                &::before{
                    background-image: url(../img/submit-disabled-circle-1.png);
                }
                &::after{
                    background-image: url(../img/submit-disabled-icon.png);
                }
            }
        }
    }
    &__start{
        display: flex;
        height: 100vh;
        padding-bottom: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .start{
            &__txt{
                width: 70%;
                height: 67px;
                margin-bottom: 40px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.44;
            }
            &__timer{
                @include backgroundImg;
                background-image: url(../img/countdown-bg.png);
                width: 100%;
                text-align: center;
                background-size: 100% 100%;
                padding-top: 16px;
                h1{
                    font-family: $markerFont;
                    font-size: 160px;
                    letter-spacing: 2px;
                    margin: 0;
                    font-weight: normal;
                }
            }
        }
    }
}