$whitePrimary: rgb(255,255,255);
$white2 :rgb(241, 241, 241);
$blackPrimary: rgba(0,0,0,1);
$black: #001122;
$black7: rgba(0,0,0,.7);
$black54: rgba(0,0,0,.54);
$black4: rgba(0,0,0,.4);
$black36: rgba(0,0,0,.36);
$black38: rgba(0,0,0,.38);
$black3: rgba(0,0,0,.3);
$black25: rgba(0,0,0,.25);
$black0: rgba(0,0,0,0);
$lightGrey: #f8f8f8;
$grey: #d4d7d8;
$grey2: #9b9b9b;
$darkGrey: #a2a9b4;
$blue: #007fb7;
$blueSoft: #0c98d4;
$darkBlue: #035d85;
$darkBlue2: #0d6f9b;
$lightBlue: #e0f8ff;
$red: #d75e43;
$borderBlue: #52b8e4;
$greenCorrect: #03ac0e;
$redWrong: #ef144a;
$gold: #e6c15e;
$silver: #d8d8d8;
$bronze: #ae670b;

$markerFont: "Permanent Marker";